<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="makler.Properties.Settings.d2ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\d2.mdb"
            providerName="System.Data.OleDb" />
        <add name="makler.Properties.Settings.d21ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\d21.mdb"
            providerName="System.Data.OleDb" />
        <add name="makler.Properties.Settings.d3ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\d3.mdb"
            providerName="System.Data.OleDb" />
        <add name="makler.Properties.Settings.d211ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\d211.mdb"
            providerName="System.Data.OleDb" />
        <add name="makler.Properties.Settings.Database81ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database81.mdb"
            providerName="System.Data.OleDb" />
        <add name="makler.Properties.Settings.Database10ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database10.mdb"
            providerName="System.Data.OleDb" />
        <add name="makler.Properties.Settings.Database101ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database101.mdb"
            providerName="System.Data.OleDb" />
        <add name="makler.Properties.Settings.Database1011ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database1011.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>